@import url("https://fonts.googleapis.com/css2?family=Geologica&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #2c2b2b;
    color: #fff;
    font-family: "Geologica", sans-serif;
  }

  .main-height {
    min-height: calc(100vh - 76px - 72px);
  }

  @media screen and (min-width: 1024px) {
    .main-height {
      min-height: calc(100vh - 63px - 72px);
    }
  }
}
