@import url("https://fonts.googleapis.com/css2?family=Tauri&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #2c2b2b;
    color: #fff;
    font-family: "Tauri";
  }
}

@layer components {
  .menu-hide {
    display: none;
  }
  .menu-visable {
    display: block;
  }
}
